<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <title>Project T</title>
    <meta property="og:title" content="Project T"/>
    <meta property="og:image" content="https://pbs.twimg.com/profile_images/1980294624/DJT_Headshot_V2.jpg"/>
    <meta property="og:url" content=""/>
    <link rel="icon" href="static/favicon.ico">
  </head>
  <body>
    <h1> Start here. </h1>
    <div id="app">
    </div>
    <!-- main app -->
    {% load static %}
    <script src="{% static 'comparison_stream/js/build.js' %}"></script>
  </body>
</html>
